// SPDX-License-Identifier: GPL-2.0
/dts-v1/;

#include "bcm2712-rpi-cm5.dtsi"
#include "bcm2712-rpi-cm4io.dtsi"

/ {
	model = "Axzez Interceptor with Raspberry Pi CM5 module";

	aliases {
		mdio-gpio0 = &poe_mdio0;
		mdio-gpio1 = &poe_mdio1;
	};

	chosen {
		bootargs = "reboot=w coherent_pool=1M 8250.nr_uarts=1 pci=pcie_bus_safe cgroup_disable=memory numa_policy=interleave";
		board = "interceptor-raspberrypi-cm5";
	};

	poe_mdio0: poe_mdio0 {
		compatible = "virtual,mdio-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio 7 0>, <&gpio 6 6>;

		poe_switch0: ip179h@0 {
			compatible = "icplus,ip179h";
			reg = <0x00>;
			dsa,member = <0x01 0x00>;

			ports {
				#address-cells = <0x01>;
				#size-cells = <0x00>;
				port@0 {
					reg = <0x00>;
					label = "poe0-0";
					phy-mode = "internal";
				};
				port@1 {
					reg = <0x01>;
					label = "poe0-1";
					phy-mode = "internal";
				};
				port@2 {
					reg = <0x02>;
					label = "poe0-2";
					phy-mode = "internal";
				};
				port@3 {
					reg = <0x03>;
					label = "poe0-3";
					phy-mode = "internal";
				};
				port@4 {
					reg = <0x04>;
					label = "poe0-4";
					phy-mode = "internal";
				};
				port@5 {
					reg = <0x05>;
					label = "poe0-5";
					phy-mode = "internal";
				};
				port@6 {
					reg = <0x06>;
					label = "poe0-6";
					phy-mode = "internal";
				};
				port@7 {
					reg = <0x07>;
					label = "poe0-7";
					phy-mode = "internal";
				};
				port@8 {
					reg = <0x08>;
					label = "cpu";
					ethernet = <&switch0_ext1>;
					phy-mode = "rgmii-txid";
					fixed-link {
						speed = <0x3e8>;
						full-duplex;
					};
				};
			};
		};
	};

	poe_mdio1: poe_mdio1 {
		compatible = "virtual,mdio-gpio";
		#address-cells = <1>;
		#size-cells = <0>;
		gpios = <&gpio 5 0>, <&gpio 4 6>;

		poe_switch1: ip179h@0 {
			compatible = "icplus,ip179h";
			reg = <0x00>;
			dsa,member = <0x02 0x00>;

			ports {
				#address-cells = <0x01>;
				#size-cells = <0x00>;
				port@0 {
					reg = <0x00>;
					label = "poe1-0";
					phy-mode = "internal";
				};
				port@1 {
					reg = <0x01>;
					label = "poe1-1";
					phy-mode = "internal";
				};
				port@2 {
					reg = <0x02>;
					label = "poe1-2";
					phy-mode = "internal";
				};
				port@3 {
					reg = <0x03>;
					label = "poe1-3";
					phy-mode = "internal";
				};
				port@4 {
					reg = <0x04>;
					label = "poe1-4";
					phy-mode = "internal";
				};
				port@5 {
					reg = <0x05>;
					label = "poe1-5";
					phy-mode = "internal";
				};
				port@6 {
					reg = <0x06>;
					label = "poe1-6";
					phy-mode = "internal";
				};
				port@7 {
					reg = <0x07>;
					label = "poe1-7";
					phy-mode = "internal";
				};
				port@8 {
					reg = <0x08>;
					label = "cpu";
					ethernet = <&switch0_ext2>;
					phy-mode = "rgmii-txid";
					fixed-link {
						speed = <0x3e8>;
						full-duplex;
					};
				};
			};
		};
	};

	switch0: switch0 {
		compatible = "realtek,rtl8365mb";
		dsa,member = <0x00 0x00>;
		mdio-gpios = <&gpio 0x2c 0x06>;
		mdc-gpios = <&gpio 0x2d 0x06>;

		ports {
			#address-cells = <0x01>;
			#size-cells = <0x00>;
			port@0 {
				reg = <0x00>;
				label = "cpu";
				phy-mode = "internal";
				phy-handle = <&swphy0>;
				dsa-tag-protocol = "rtl8_4t";
				ethernet = <&rp1_eth>;
			};
			port@1 {
				reg = <0x01>;
				label = "swp0";
				phy-mode = "internal";
				phy-handle = <&swphy1>;
			};
			port@2 {
				reg = <0x02>;
				label = "swp1";
				phy-mode = "internal";
				phy-handle = <&swphy2>;
			};
			port@3 {
				reg = <0x03>;
				label = "swp2";
				phy-mode = "internal";
				phy-handle = <&swphy3>;
			};
			port@4 {
				reg = <0x04>;
				label = "swp3";
				phy-mode = "internal";
				phy-handle = <&swphy4>;
			};

			switch0_ext1: port@6 {
				reg = <0x06>;
				label = "ext1";
				phy-mode = "rgmii";
				tx-internal-delay-ps = <0x7d0>;
				rx-internal-delay-ps = <0x00>;
				fixed-link {
					speed = <0x3e8>;
					full-duplex;
				};
			};

			switch0_ext2: port@7 {
				reg = <0x07>;
				label = "ext2";
				phy-mode = "rgmii";
				tx-internal-delay-ps = <0x7d0>;
				rx-internal-delay-ps = <0x00>;
				fixed-link {
					speed = <0x3e8>;
					full-duplex;
				};
			};
		};

		mdio {
			compatible = "realtek,smi-mdio";
			#address-cells = <0x01>;
			#size-cells = <0x00>;
			swphy0: phy@0 {
				reg = <0x00>;
			};
			swphy1: phy@1 {
				reg = <0x01>;
			};
			swphy2: phy@2 {
				reg = <0x02>;
			};
			swphy3: phy@3 {
				reg = <0x03>;
			};
			swphy4: phy@4 {
				reg = <0x04>;
			};
		};
	};

};

&rp1_uart0 {
	pinctrl-0 = <&rp1_uart0_14_15>;
	status = "okay";
};

&rp1_eth {
	status = "okay";
};

&usb {
	status = "okay";
	dr_mode = "host";
};

&pcie1 {
	status = "okay";
};

&rp1_i2c0 {
	rv3028@52 {
		compatible = "microcrystal,rv3028";
		reg = <0x52>;
	};
	pse@75 {
		compatible = "icplus,ip808ar";
		reg = <0x75>;
		pse-id = <0x00>;
		power-allowance = <0x78>;
	};
	pse@74 {
		compatible = "icplus,ip808ar";
		reg = <0x74>;
		pse-id = <0x01>;
		power-allowance = <0x78>;
	};
};

&led_act {
	gpios = <&gpio 42 GPIO_ACTIVE_HIGH>;
};

/* enable video & HDMI */
// &aon_intr {
// 	status = "okay";
// };
// &mop {
// 	status = "okay";
// };
// &moplet {
// 	status = "okay";
// };
// &ddc0 {
// 	status = "okay";
// };
// &ddc1 {
// 	status = "okay";
// };
// &pixelvalve0 {
// 	status = "okay";
// };
// &pixelvalve1 {
// 	status = "okay";
// };
// &vc4 {
// 	status = "okay";
// };
// &hdmi0 {
// 	status = "okay";
// };
// &hdmi1 {
// 	status = "okay";
// };
